*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{ 
    background-image: url("../image/secret.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width:767px){
    body{ 
    background-image: url("../image/mobilesecret.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    position: absolute !important;
    top: 55% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
h1{
    font-size: 4em !important;
}
}


/* count down style*/
@font-face{
    font-family: sevenSegment;
    src: url(seven-segment.ttf);
}

h1{
    font-family: arial;
    font-size: 10em;
    color: tomato;
}

.container{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}